<ng-container *ngIf="totalItems && totalItems > 0">
  <!-- Contenedor das opções de paginação -->
  <!-- Bloco de opções de paginação -->
  <ng-container *ngIf="showPageSize()" 
    [ngTemplateOutlet]="forSelectPageOptions">
  </ng-container>

  <!-- Range Label -->
  <ng-container *ngIf="rangeLabel"
    [ngTemplateOutlet]="forRangeLabel">
  </ng-container>

  <!-- Pages controllers -->
  <ng-container *ngIf="pagesCtrls"
    [ngTemplateOutlet]="forPagesCtrls">
  </ng-container>

  <!-- Input para permitir a inserção de página -->
  <ng-container *ngIf="withInputGoTo"
    [ngTemplateOutlet]="forInputGoTo">
  </ng-container>
</ng-container>

<!-- Template para o selector de páginas e as suas opções -->
<ng-template #forSelectPageOptions>
  <div class="row-paginator">
    <span class="paginator-label page-size-label">
      {{ getLabel("perPage") }}: 
    </span>

    <mc-page-size-selector 
      [pageSize]="pageSize"
      [pageSizeOptions]="displayedPageSizeOptions"
      (pageSizeChange)="handlePageSizeChange($event)">
    </mc-page-size-selector>
  </div>
</ng-template>

<!-- Template para o range label -->
<ng-template #forRangeLabel>
  <span class="row-paginator paginator-label page-range-label">
    {{ rangeLabel }}
  </span>
</ng-template>

<!-- Template para os controllers de paginação -->
<ng-template #forPagesCtrls>
  <div class="row-paginator">
    <ng-container *ngFor="let pageCtrl of pagesCtrls; let first=first; let last=last;">
      <mc-page-btn 
        [data]="pageCtrl"
        [isCurrent]="pageNumber === pageCtrl.value" 
        [isFirst]="first" 
        [isLast]="last"
        (clicked)="handlePageClicked($event)">
      </mc-page-btn>
    </ng-container>
  </div>
</ng-template>

<!-- Template com o input go to -->
<ng-template #forInputGoTo>
  <div class="row-paginator">
    <span class="paginator-label page-range-label">
      {{ getLabel("goTo") }}: 
    </span>

    <input #inputGoTo 
      type="number" 
      min="0" />
  </div>
</ng-template>