$fontSize: 12px;
$fontWeight: 400;

:host {
    float: left; 
    display: flex; 
    width: auto; 
    height: auto; 
    position: relative;
    flex-direction: row; 
    flex-wrap: wrap;

    .row-paginator {
        float: left; 
        display: flex; 
        position: relative;
        flex-direction: row;
        padding: 3px 0px;
        align-items: center;
    }

    .paginator-label {
        font-size: $fontSize; 
        font-weight: $fontWeight; 
        color: rgba(0, 0, 0, .85);
    }

    .page-size-label {
        margin: 0 5px;
    }

    .page-range-label {
        margin: 0 32px 0 24px;
    }
}