<div class="toolbar-btn-group">
    <button *ngIf="btnCancelAllowed" 
      type="button"
      (click)="applyOperation('cancel')">
      cancel
    </button>
    
    <button *ngIf="btnRecordAllowed"
      type="button"
      (click)="applyOperation('record')">
      record
    </button>
    
    <button *ngIf="btnStopAllowed"
      type="button"
      (click)="applyOperation('stop')">
      stop
    </button>
    
    <button *ngIf="btnSaveAllowed"
      type="button"
      (click)="applyOperation('save')">
      save
    </button>
  
    <button *ngIf="btnDownloadAllowed"
      type="button"
      (click)="applyOperation('download')">
      download
    </button>
  </div>