:host {
    display: flex; 
    width: 100%; 
    height: 100%; 
    min-height: inherit !important;

    /deep/ iframe {
        width: 100%; 
        height: 100%;
        min-height: inherit !important;
    }
}