<ng-container *ngIf="allowed">
  <!-- Audio para output -->
  <audio #audio 
    preload="auto"
    oncontextmenu="return false"
    controls 
    controlsList="nodownload">
  </audio>

  <span *ngIf="isRecording"
    class="time-recording">
    {{ timeRecorded }}
  </span>

  <!-- Toolbar -->
  <mc-audio-toolbar-capture></mc-audio-toolbar-capture>
</ng-container>