<ng-container *ngIf="node">
  <li>
    <ng-container *ngIf="node.children && node.children.length > 0">
      <div style="width: 30px; height: 30px; background: orange; position: relative; margin-right: 5px; "
        (click)="toggleNode()">
      </div>
    </ng-container>

    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'checkbox'"
        [ngTemplateOutlet]="checkboxMode">
      </ng-container>

      <ng-container *ngSwitchCase="'default'"
        [ngTemplateOutlet]="forLabel">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="node.children && node.children.length > 0"
      [ngTemplateOutlet]="subList">
    </ng-container>
  </li>
</ng-container>

<!-- Template para quando o tipo de aprensetação for checkbox -->
<ng-template #checkboxMode>
  <input type="checkbox"
    [checked]="node.checked"
    [disabled]="node.blocked"
    [indeterminate]="node.indeterminate"
    (change)="onChecked($event)" />
    <ng-container 
      [ngTemplateOutlet]="forLabel">
    </ng-container>
</ng-template>

<!-- Template para o label do checkbox -->
<ng-template #forLabel>
  <span [ngClass]="{ 'label-blocked': node.blocked }">
    {{ node.name }}      
  </span>
</ng-template>

<!-- Sub lista -->
<ng-template #subList>
  <!-- SUBLIST -->
  <ul [@slide]="node.slideState"
    (@slide.start)="onAnimationStart($event)" 
    (@slide.done)="onAnimationDone($event)">
    <mc-tree-node *ngFor="let childNode of node.children; let firstChild=first; let lastChild=last;" 
      [node]="childNode" 
      [mode]="mode"
      [firstChild]="firstChild" 
      [lastChild]="lastChild" 
      [parentNode]="node">
    </mc-tree-node>
  </ul>
</ng-template>