<ng-container *ngIf="data">
  <ul>
    <mc-tree-node *ngFor="let node of data; first as firstChild; last as lastChild;"
      [node]="node"
      [firstChild]="firstChild"
      [lastChild]="lastChild" 
      [allowEdit]="allowEdit"
      [allowInsert]="allowInsert" 
      [mode]="allowSelect ? 'checkbox' : 'default'">
    </mc-tree-node>
  </ul>
</ng-container>