<ng-container *ngIf="allowed">
  <video #videoInput></video>

  <video #videoOutput 
    class="video-output" 
    preload="auto"
    oncontextmenu="return false"
    controls 
    controlsList="nodownload">
  </video>

  <span *ngIf="isRecording"
    class="time-recording">
    {{ timeRecorded }}
  </span>

  <!-- Toolbar -->
  <mc-video-toolbar-capture></mc-video-toolbar-capture>
</ng-container>