:host {
    float:left;
    display: block;
    width: 100%; 
    height: 100%;
    min-height: inherit !important;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        max-width: 100%; 
        height: 100%;
        min-height: inherit !important;
        overflow: hidden;
    }
       
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }        

    /deep/ iframe {
        min-height: inherit !important;
    }
}