<ng-container *ngIf="serviceName">
  <div #player
    *ngIf="serviceName === 'vimeo'"
    class="embed-container">
  </div>

  <div *ngIf="serviceName !== 'vimeo'"
    class="embed-container">
    <div #player></div>
  </div>
</ng-container>