$mainColor: #ff4242;
$fontSize: 12px;
$fontWeight: 600;

:host {
    float: left; 
    display: inline-flex; 
    width: auto; 
    height: auto; 
    position: relative; 

    .btn-page {
        float: left;
        display: flex;
        position: relative;
        padding: 5px; 
        margin-left: 5px;
        background-color: #fff;
        justify-items: center; 
        align-items: center;
        border-radius: 5px;
        box-shadow: inset 0 5px 10px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,.5);
        transition: all .3s ease;
        cursor: pointer; 
        font-size: $fontSize; 
        font-weight: $fontWeight;
        color: rgba(0, 0, 0, .85);
        
        &:hover {
            color: #fff; 
            background-color: $mainColor;
        }
    }

    .btn-page.active {
        color: #fff; 
        background-color: $mainColor;
        cursor: default;
    }

    .btn-page.is-first, .btn-page.active.is-first {
        border-radius: 40px 0 0 40px;
    }

    .btn-page.is-last, .btn-page.active.is-last {
        border-radius: 0 40px 40px 0;
        margin-right: 0px;
    }
}