<ng-container *ngIf="src">
  <ng-container *ngIf="loading && !loaded"
    [ngTemplateOutlet]="forLoading">
  </ng-container>

  <ng-container *ngIf="!loading && loaded"
    [ngTemplateOutlet]="forCompleted">
  </ng-container>
</ng-container>

<!-- Template quando está sendo executado o loading da imagem -->
<ng-template #forLoading>
  <div>
    <span>
      Carregando a imagem
    </span>
  </div>
</ng-template>

<!-- Template para quando o loading finalizar para permitir a vinculação ao container da imagem -->
<ng-template #forCompleted>
  <div #containerImg 
    class="img-container">
  </div>
</ng-template>