:host {
    display: block; 
    object-fit: contain;

    .img-container {
        display: block; 
        width: 100%; 
        height: 100%; 
        background-color: black;
    }

    .full-bg-img {
        display: block; 
        width: 100%; 
        height: 100%; 
        min-height: inherit !important;
        position: relative; 
        background-repeat: no-repeat; 
        background-position: center center; 
        background-size: contain;
    }

    /deep/ img {
        display: block; 
        width: 100%; 
        height: 100%; 
        object-fit: inherit; 
        object-position: inherit;
    }
}

