:host {
    float: left; 
    display: block; 
    position: relative;
    overflow: hidden;

    .to-canvas, .container {
        float: left; 
        display: block; 
    }

    .container-img {
        position: relative; 
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .container-content {
        position: absolute;
        z-index: 100; 
        top: -10000px;
    }
}