<!-- Div que vai conter a imagem -->
<div #canvas
    class="container-img">
</div>

<!-- Blco do conteúdo -->
<div #parentContent 
    class="container-content">
    <ng-content select="[mcWatermarkContent]"></ng-content>
</div>
