:host {
    width: 100%; 
    height: 100%;
    position: relative; 

    /deep/ video {
        display: inline-block;
        max-width: 100%; 
        max-height: 100%;
        vertical-align: middle;        
    }
}