:host {
    float: left; 
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-items: center; 
    align-items: center;
    background-color: white !important;
    padding: 10px 0px;
    min-width: 300px;

    .widget-title, .widget-subtitle, .widget-int {
        display: flex; 
    }

    .widget-title {
        font-size: 16px; 
        font-weight: 600; 
        margin-bottom: 5px;
        line-height: 20px; 
        text-transform: uppercase;
    }

    .widget-subtitle {
        font-size: 12px; 
        font-weight: 400;
        margin-bottom: 10px;
    }

    .widget-int {
        font-size: 32px; 
        line-height: 40px; 
        font-weight: 700; 
    }
}