<ng-container>
    <div *ngIf="title" 
        class="widget-title">
        {{ title }}
    </div>

    <div *ngIf="subtitle"
        class="widget-subtitle">
        {{ subtitle }}
    </div>

    <div *ngIf="body" 
        class="widget-int">
        {{ body }}
    </div>
</ng-container>