.leftRs, .rightRs, .playRs, .pauseRs {
    width: 30px;
    height: 30px;
}

.leftRs, .rightRs {
    background-color: orangered;
}

.pauseRs {
    background-color: green;
}

.playRs {
    background-color: greenyellow;
}

.selector {
    display: inline-block;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.55);
    padding: 5px;
    margin: 0 3px;
    transition: .4s ease all;

    &.active {
        background: white;
    }
}
