<ng-container>
  <div mcWordCloud
    [data]="dataCloud03"
    style="float: left; display: flex; width: 100%; height: 350px; overflow: hidden; flex-direction: column; align-items: center; justify-content: center; position: relative; background-color: greenyellow">
  </div>
</ng-container>

<!-- Sincronizando os paginators -->
<p>
  Sincronização entre os paginators
</p>

<div style="float: left; display: block; width: 100%; height: auto; position: relative; margin-bottom: 20px;">
  <div>
    Paginator 1
  </div>
  <mc-paginator 
    [totalItems]="12000"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (output)="onPageChange($event)">
  </mc-paginator>
</div>

<!-- Component do paginator -->
<div style="float: left; display: block; width: 100%; height: auto; position: relative;">
  <div>
    Paginator 2
  </div>

  <mc-paginator 
    [totalItems]="12000"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (output)="onPageChange($event)">
  </mc-paginator>
</div>