$bgColor: #444;

:host {
    float: right; 
    display: flex;
    width: auto;
    min-width: 25px; 
    height: auto;
    position: relative;
    border: 2px;
    white-space: nowrap;
    background: $bgColor;

    .toolbar-btn-group {
        display: inline-flex;
        position: relative;
    }

    .toolbar-btn {
        box-sizing: border-box;
        background: transparent;
        border: none; 
        outline: none; 
        width: auto;
        text-align: center !important;
        cursor: pointer;
        position: relative;

        &:hover {
            background: #555;
        }

        &.active {
            .material-icons {
                color: #33b5e5;
            }
        }

        span {
            color: #fff !important;
            white-space: nowrap;
            direction: ltr;
            font-weight: normal;
            font-style: normal;
            letter-spacing: normal;
            word-wrap: normal;
            height: 25px; 
            line-height: 25px;
        }

        &.selected {
            background: #555;
        }
    }

    .default {
        .material-icons {
            color: #fff;
        }
    }

    .record, .stop {
        .material-icons {
            color: #33b5e5;
        }
    }

    .success {
        .material-icons {
            color: #99cc00;
        }
    }

    .danger {
        .material-icons {
            color: #ff4444;
        }
    }

    .material-icons {
        font-size: 20px !important;
        height:25px !important; 
        line-height: 25px !important;
    }    
}