<ng-container *ngIf="pageSize !== null && pageSizeOptions && pageSizeOptions.length > 0">
  <select #select
    [value]="pageSize">
    <option *ngFor="let item of pageSizeOptions"
      [value]="item">
      {{ item }}
    </option>
  </select>
</ng-container>
