$fontSize: 12px; 
$fontWeight: 600;

:host { 
    float: left; 
    display: inline-flex; 
    box-sizing: border-box; 
    min-width: 50px; 
    position: relative; 
    overflow: hidden;

    /deep/ select {
        border: solid 1px #ccc;
        font-size: $fontSize;
        font-weight: $fontWeight; 
        min-width: 75px;
        color: rgba(0, 0, 0, .85);
        background-color: #ccc;
        padding: 6px; 
        box-shadow: 0 5px 25px rgba(0,0,0,.2);
    }
}