/* You can add global styles to this file, and also import other style files */

html, body {
    background: white;
    padding: 0px; 
    margin: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    float: left; 
    display: block; 
    width: 100%; 
    height: 100%; 
    min-height: 100%;
    position: relative; 
}

.body-container {
    float: left; 
    display: block; 
    width: 100%; 
    height: auto; 
    position: relative; 
    margin: 64px 0px;
    min-height: calc(100vh - 128px);
}