<!-- Div para mostrar o formulário para aplicar o search -->
<ng-container *ngIf="allowSearch && form">
  <div [formGroup]="form">
    <input type="text" 
      [placeholder]="labelPlaceholder"
      formControlName="search" />
  </div>
</ng-container>

<!-- Container onde será anexado o tree view-->
<ng-container *ngIf="dataForTree">
  <mc-tree-view
    [data]="dataForTree"
    [allowEdit]="allowEdit"
    [allowInsert]="allowInsert" 
    [allowSelect]="allowSelect"
    [itemsChecked]="selection" 
    [itemsBlocked]="blocked"
    (itemsSelectedChange)="selectionChange.emit($event)">
  </mc-tree-view>
</ng-container>