<div class="toolbar-btn-group">
  <button *ngIf="btnCancelAllowed" 
    type="button"
    (click)="applyOperation('cancel')">
    cancel
  </button>

  <button *ngIf="btnTakeAllowed"
    type="button"
    (click)="applyOperation('take')">
    take
  </button>

  <button *ngIf="btnEditAllowed"
    type="button"
    (click)="applyOperation('edit')">
    edit
  </button>

  <button *ngIf="btnSaveAllowed"
    type="button"
    (click)="applyOperation('save')">
    save
  </button>
</div>